QPushButton {
    border-radius: 2px;
    border: 0;
    background-color: #3e5363;
    padding: 6px 12px;
    outline: none;
    font-size: 11px;
    font-weight: 700;
    color: #b8cee0;
    text-transform: uppercase;
}

QLabel {
    color: #ffffff;
}

QPushButton[class="danger"] {
    background-color: #a94444;
}

QPushButton[class="danger"]:hover {
    background-color: #c55252;
}

QPushButton[class="secondary"] {
    background-color: #b8cee0;
    color: #3e5363
}

QPushButton[class="secondary"]:hover {
    background-color: #e5b8cee0;
}

QPushButton::hover {
    background-color: #cc3e5363;
}

QPushButton::pressed {
    background-color: #304251;
}

QMainWindow {
    background: qlineargradient( x1:0 y1:0, x2:0 y2:1, stop:0 rgb(7,9,11), stop:1 rgb(26,35,43));
    background-image: url(graphics:background_watermark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

QSplitter::hover {
    background-color: transparent;
}

QScrollBar:vertical {
    background: transparent;
    width: 8px;
    margin: 2px 0 2px 0;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background: rgba(136, 136, 136, 0.5); /* semi-transparent */
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background: rgba(85, 85, 85, 0.7); /* darker on hover */
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0;
    background: none;
    border: none;
}

QScrollBar:horizontal {
    background: transparent;
    height: 8px;
    margin: 0 2px 0 2px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal {
    background: rgba(136, 136, 136, 0.5);
    min-width: 20px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover {
    background: rgba(85, 85, 85, 0.7);
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    width: 0;
    background: none;
    border: none;
}

QScrollBar:corner {
    background: transparent;
}

QListView,
QScrollBar,
QTextEdit {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

QToolTip {
    background-color: #e51a232b;
    color: white;
    padding: 2px;
    font-size: 10px;
    border: 0;
}

QLineEdit[class=qlineedit_timings] {
    outline: none;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 10px;
    color: grey;
    border-radius: 0;
    background-color: transparent;
}


QSpinBox,
QDoubleSpinBox,
QComboBox {
    padding-left:1px;
    border: 0;
    background-color: #3e5363;
    min-width: 40px;
    border-radius: 2px;
    font-size: 10px;
    color:#b8cee0;
    padding: 2px;
}

QSpinBox::disabled,
QDoubleSpinBox::disabled,
QComboBox::disabled {
    background-color: #803e5363;
}

QComboBox {
    padding-left:2px;
    font-size: 11px;
}

QComboBox::hover {
    background-color: #304251;
}

QComboBox::drop-down {
    background-color: #304251;
    border: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
}

/* QComboBox::drop-down:on {
    background-color: darkgray;
}

QComboBox::drop-down:disabled {
    background-color: #CCC;
} */

LabeledComboBox,
LabeledLineEdit {
    background-color: #304251; 
    border-radius: 2px;
}

LabeledComboBox QComboBox,
LabeledLineEdit QLineEdit {
    background-color: #304251; 
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 12px;
    color:#b8cee0;
    padding: 6px;
}

LabeledComboBox QComboBox::hover,
LabeledLineEdit QLineEdit::hover {
    background-color: #3e5363; 
}


LabeledComboBox QComboBox::drop-down {
    background-color: transparent;
    border-top-right-radius: 0;
    image: url(graphics:combobox_down_arrow.svg);
    subcontrol-origin: padding;
    subcontrol-position: top right;
    padding: 0 6px;
}

LabeledComboBox QLabel,
LabeledLabel #top_label,
LabeledLineEdit #top_label {
    font-size: 9px;
    color:#b8cee0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px;
}

LabeledLabel,
QProgressBar {
    background-color: #33304251; 
    border-radius: 2px;
}

LabeledLabel #label {
    font-size: 12px;
    color:#b8cee0;
    padding: 0 6px 6px 6px;
}

QProgressBar {
    color: #3e5363;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #b8cee0;
    border-radius: 2px;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    border: 0;
    padding: 3 5 0 0;
    border-top-right-radius: 2px;
    image: url(graphics:spinbox_arrow_up.svg);
}

QSpinBox::up-button[class=spin_playercontrols],
QDoubleSpinBox::up-button[class=spin_playercontrols] {
    margin-top: 3px;
}

QSpinBox::up-button:pressed,
QDoubleSpinBox::up-button:pressed {
    image: url(graphics:spinbox_arrow_up.svg);
}

QSpinBox::up-button:disabled,
QDoubleSpinBox::up-button:disabled,
QSpinBox::up-button:off,
QDoubleSpinBox::up-button:off {
    background-color: none;
    image: none;
}

QSpinBox::down-button,
QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    border: 0;
    padding: 0 5 3 0;
    border-bottom-right-radius: 2px;
    image: url(graphics:spinbox_arrow_down.svg);
}

QSpinBox::down-button[class=spin_playercontrols],
QDoubleSpinBox::down-button[class=spin_playercontrols] {
    margin-bottom: 3px;
}

QSpinBox::down-button:pressed,
QDoubleSpinBox::down-button:pressed {
    /* background-color: #e5b3b3b3; */
    image: url(graphics:spinbox_arrow_down.svg);
}

QSpinBox::down-button:disabled,
QDoubleSpinBox::down-button:disabled,
QSpinBox::down-button:off,
QDoubleSpinBox::down-button:off {
    background-color: none;
    image: none;
}


QSlider::groove:horizontal {
    outline: none;
    margin: 0;
    padding: 0;
    background: #803e5363;
}

QSlider::handle:horizontal {
    outline: none;
    border: 0;
    padding: 0;
    width: 10px;
    background: #3e5363;
}

QSlider::handle:horizontal:disabled {
    background: transparent;
}

QCheckBox::indicator,
QGroupBox::indicator {
	width: 26px;
    height: 14px;
}
    
QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    image: url(graphics:checkbox_checked.svg);
}

QCheckBox::indicator:checked:hover,
QGroupBox::indicator:checked:hover {
    image: url(graphics:checkbox_checked_hover.svg);
}

QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    image: url(graphics:checkbox_unchecked.svg);
}

QCheckBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:hover {
    image: url(graphics:checkbox_unchecked_hover.svg);
}

QCheckBox::indicator:disabled,
QGroupBox::indicator:disabled {
    image: url(graphics:checkbox_disabled.svg);
}

#titleBar_left_container {
    border-image: url(graphics:titleBar_left_container_border.svg) 0 0 2 0 stretch stretch;
    border-width: 0 0 2 0;
}

#titleBar_left_save_button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 8px 8px 8px 20px;
    icon: url(graphics:save.svg);
}

#titleBar_left_save_button[class=saved] {
    background-color: #b8cee0;
}

#titleBar_left_save_button[class=unsaved] {
    background-color: #67ff4d;
}

#titleBar_left_information_container QLabel {
    color: #d9ffffff;
    font-size: 11px;
}

#tilteBar_subtitld_label {
    color: white;
    padding-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #08ffffff transparent transparent;
    color: #26ffffff;
    font-size: 12px;
    padding: 8;
    font-family: Montserrat;
}

#start_screen_bottom_line {
    border-image: url(graphics:start_screen_top_shadow.svg) 150 10 0 10 stretch;
    border: 150 0 0 0;
    background-color: #15000000;
}

#start_screen_open_label {
    font-size: 10px;
    color:rgb(106, 116, 131);
    qproperty-alignment: "AlignVCenter | AlignRight";
    qproperty-wordWrap: true;
    text-transform: uppercase;
}

#start_screen_open_button {
    padding: 10px 40px;
    margin-bottom: 40px;
}

#start_screen_recentfiles_background {
    background-color: rgba(106, 116, 131, 24);
}

#start_screen_recent_label,
#start_screen_adver_label {
    font-size: 10px;
    color:rgb(106, 116, 131);
    text-transform: uppercase;
}

#start_screen_recent_listwidget::item {
    padding: 0;
    border-radius: 2px;
}

#start_screen_recent_listwidget::item QLabel {
    color: #80ffffff;
}

#start_screen_recent_listwidget::item QLabel[class=age] {
    color: #80ffffff;
    background-color: #52000000;
    padding: 2px;
    border-radius: 3px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

#start_screen_recent_listwidget::item:selected {
    background:#33b8cee0;
    color:rgb(106, 116, 131);
}

#start_screen_recent_alert {
    font-size: 14px;
    color: rgb(106, 116, 131);
    qproperty-alignment: "AlignCenter";
    padding: 40px;
}

#start_screen_adver_label_details {
    font-size: 14px;
    color:rgb(106, 116, 131);
    qproperty-alignment: "AlignTop | AlignLeft";
    qproperty-wordWrap: true;
}

QScrollArea,
#preview_panel_player QGraphicsView,
QWidget[class='transparent_panel'] {
    background: transparent;
    outline: 0;
    margin: 0;
    padding: 0;
    border: none;
}

#left_panel_navigation {
    background-image: url(graphics:left_panel_navigation_background.svg);
    background-repeat: repeat-y;
    background-position: right;
}

#left_panel_navigation QPushButton[class=navigation_button] {
    outline: 0;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: #80000000;
    border-left: 10px solid transparent;
    icon-size: 16px;
}

#left_panel_navigation QPushButton[class=navigation_button]::hover {
    border-left: 10px solid #1ab8cee0;
    background-color: #04b8cee0;
}

#left_panel_navigation QPushButton[class=navigation_button]::checked {
    border-left: 10px solid #80b8cee0;
    background-color: #09b8cee0;
}

#left_panel_stackedwidgets {
    border-left: 1px solid #0affffff;
    border-right: 1px solid #05ffffff;
    background-color: #40304251;
}

#send_text_buttons_container #send_text_to_last_subtitle_button {
    padding-top: 1px;
    padding-left: 32px;
    padding-right: 0;
    border-bottom-left-radius: 2px;
    icon: url(graphics:send_text_to_last_subtitle_icon.svg);
}

#send_text_buttons_container #send_text_to_last_subtitle_and_slice_button {
    padding-top: 3px;
    icon: url('graphics:send_text_to_last_subtitle_and_slice_button.svg');
}

#send_text_buttons_container #send_text_to_next_subtitle_button {
    padding-right: 32px;
    padding-left: 0;
    padding-top: 1px;
    border-bottom-right-radius: 2px;
    icon: url(graphics:send_text_to_next_subtitle_icon.svg);
}

#send_text_buttons_container #send_text_to_next_subtitle_and_slice_button {
    padding-top: 3px;
    icon: url('graphics:send_text_to_next_subtitle_and_slice_button.svg');
}

#left_panel_subtitleslist_bottom_buttons_container QPushButton,
#left_panel_subtitleslist_bottom_buttons_container QComboBox {
    border-radius: 0;
    border: 0;
}

#left_panel_subtitleslist_textedit,
#left_panel_subtitleslist_translation_textedit {
    padding: 8px 8px 40px 8px;
    font-size: 14px;
    font-weight: 500;
}

#left_panel_subtitleslist_translation_textedit {
    border-top: 1px solid #0affffff;
}

#left_panel_subtitleslist_bottom_panel {
    background-color: qlineargradient( x1:0 y1:0, x2:0 y2:.4, stop:0 #3307090b, stop:1 #1a232b);
}

#left_panel_subtitleslist_bottom_panel QLineEdit {
    font-family: 'Ubuntu Mono', monospace;
    border-top: 1px solid #0affffff;
    font-size: 15px;
    font-weight: 700;
    color: #bbffffff;
    padding: 15px 3px 6px 3px;
}

#subtitles_panel_simplelist_properties_duration_timing_lock_button {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 0;
    background-color: transparent;
    icon-size: 10px;
    icon: url(graphics:subtitles_panel_simplelist_properties_duration_timing_lock_open_icon.svg);
}

#subtitles_panel_simplelist_properties_duration_timing_lock_button:hover {
    background-color: #22ffffff;
    icon: url(graphics:subtitles_panel_simplelist_properties_duration_timing_lock_open_icon_hover.svg);
}

#subtitles_panel_simplelist_properties_duration_timing_lock_button:checked,
#subtitles_panel_simplelist_properties_duration_timing_lock_button:hover:checked {
    background-color: #23ffffff;
    icon: url(graphics:subtitles_panel_simplelist_properties_duration_timing_lock_closed_icon.svg);
}

#timeline_widget {
    background-color: transparent;
}

#timeline_scroll {
    background-color: qlineargradient( x1:0 y1:0, x2:0 y2:.4, stop:0 rgba(7,9,11,0.2), stop:1 rgba(26,35,43,0));
}

#left_panel_subtitleslist_speaker_selector {
    border-top: 1px solid #0affffff;
    border-left: 1px solid #0affffff;
    border-right: 0;
    border-bottom: 0;
    border-top-left-radius: 4px;
}

#left_panel_subtitleslist_speaker_selector #selector_button_label {
    outline: none;
    margin: 0;
    padding: 0 0 0 4;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

#left_panel_subtitleslist_speaker_selector #add_button {
    padding: 4px;
    border-radius: 0;
    border-bottom-left-radius: 2px;
    border: 0;
    icon-size: 10px;
    background-color: #05ffffff;
}

#left_panel_subtitleslist_speaker_selector #add_button:hover, 
#left_panel_subtitleslist_speaker_selector #add_button:hover:checked {
    background-color: #10ffffff;
}

#left_panel_subtitleslist_speaker_selector #label,
#left_panel_subtitleslist_bottom_panel QLabel[class="properties_timing_labels"] {
    font-size: 9px;
    font-weight: 700;
    color: #23ffffff;
    text-transform: uppercase;
    padding: 2px;
}

#left_panel_subtitleslist_speaker_selector #speaker_selector_list {
    background: transparent;
}

#left_panel_subtitleslist_speaker_selector #speaker_selector_list_widget {
    border: 1px solid #0affffff;
    border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f3304251;
    padding: 0;
    selection-background-color: #33b8cee0;
    selection-color: white;   
}

#left_panel_subtitleslist_speaker_selector #speaker_selector_list_widget::item {
    color: white;
}

#left_panel_subtitleslist_speaker_selector #speaker_selector_list_widget::item:hover {
    background-color: #0cb8cee0;
    color: white;
}

#left_panel_subtitleslist_speaker_selector #speaker_selector_list_widget::item:selected {
    background-color: #33b8cee0;
    color: white;
}

#left_panel_subtitleslist_speaker_selector #speaker_selector_image {
    margin-top: 1px;
    margin-right: 1px;
}

#playercontrols_timecode_label {
    font-size: 14px;
    font-weight: 700;
    color: rgba(106, 116, 131,100);
    font-family: "Ubuntu Mono", monospace;
}

#playercontrols_widget_left_top_line {
    border-image: url(graphics:playercontrols_widget_center_top_line.svg) 2 53 0 0 stretch stretch;
    border-width: 2 0 0 0;
    margin-right: 28;
}

#playercontrols_widget_center_top_line {
    border-width: 7 31 2 31;
    border-image: url(graphics:playercontrols_widget_center_top_line.svg) 7 31 2 31 stretch stretch;
}

#playercontrols_widget_right_top_line {
    border-image: url(graphics:playercontrols_widget_center_top_line.svg) 2 0 0 53 stretch stretch;
    border-width: 2 0 0 0;
    margin-left: 28;
}

#playercontrols_widget_top_line QPushButton {
    text-transform: uppercase;
    padding: 6;
    font-size: 10px;
    font-weight: 700;
    color: #B8C6E0;    
}

#playercontrols_widget_bottom_line {
    background-image: url(graphics:timeline_bottom_controls_background.svg) 0 0 0 0 stretch stretch;
}

#playercontrols_widget_left_bottom_line {
    border-image: url(graphics:playercontrols_widget_center_bottom_line.svg) 0 28 2 0 stretch stretch;
    border-width: 0 0 2 0;
    margin-right: 12px;
}

#playercontrols_widget_center_bottom_line {
    border-image: url(graphics:playercontrols_widget_center_bottom_line.svg) 0 14 25 14 stretch stretch;
    border-width: 0 14 25 14;
}

#playercontrols_widget_right_bottom_line {
    border-image: url(graphics:playercontrols_widget_center_bottom_line.svg) 0 0 2 28 stretch stretch;
    border-width: 0 0 2 0;
    margin-left: 12px;
}

#playercontrols_widget_center_top_line {
    margin: 0;
}

#playercontrols_widget_center_top_line QPushButton {
    background: transparent;
    border-radius: 0;
    padding: 0 8;
    border-left: 1px solid #14ffffff;
    border-right: 1px solid #143e5363;
}

#playercontrols_widget_center_top_line QPushButton:hover {
    background: #14304251;
    border-left: 1px solid #33ffffff;
    border-right: 1px solid #333e5363;
}

#playercontrols_widget_center_top_line QPushButton::hover:pressed,
#playercontrols_widget_center_top_line QPushButton::hover:checked,
#playercontrols_widget_center_top_line QPushButton::pressed,
#playercontrols_widget_center_top_line QPushButton::checked {
    background: #803e5363;
    border-left: 1px solid #333e5363;
    border-right: 1px solid #33ffffff;
}

#playercontrols_widget_center_top_line QPushButton[position="first"] {
    background: transparent;
    border-width: 0 1 0 13;
    border-style: none;
    padding: 0 8 0 2;
    border-image: url(graphics:playercontrols_button_first.svg) 0 1 0 13 stretch stretch;
}

#playercontrols_widget_center_top_line QPushButton[position="first"]:hover {
    background: transparent;
    border-width: 0 1 0 13;
    border-image: url(graphics:playercontrols_button_first_hover.svg) 0 1 0 13 stretch stretch;
}

#playercontrols_widget_center_top_line QPushButton[position="first"]:hover:pressed,
#playercontrols_widget_center_top_line QPushButton[position="first"]:hover:checked,
#playercontrols_widget_center_top_line QPushButton[position="first"]:pressed,
#playercontrols_widget_center_top_line QPushButton[position="first"]:checked {
    background: transparent;
    border-width: 0 1 0 13;
    border-image: url(graphics:playercontrols_button_first_pressed.svg) 0 1 0 13 stretch stretch;
}

#playercontrols_widget_center_top_line QPushButton[position="last"] {
    background: transparent;
    border-width: 0 13 0 1;
    border-style: none;
    /* padding: 0 10 0 8; */
    border-image: url(graphics:playercontrols_button_last.svg) 0 13 0 1 stretch stretch;
}

#playercontrols_widget_center_top_line QPushButton[position="last"]:hover {
    background: transparent;
    border-width: 0 13 0 1;
    border-image: url(graphics:playercontrols_button_last_hover.svg) 0 13 0 1 stretch stretch;
}

#playercontrols_widget_center_top_line QPushButton[position="last"]:pressed,
#playercontrols_widget_center_top_line QPushButton[position="last"]:hover:pressed,
#playercontrols_widget_center_top_line QPushButton[position="last"]:checked,
#playercontrols_widget_center_top_line QPushButton[position="last"]:hover:checked {
    background: transparent;
    border-width: 0 13 0 1;
    border-image: url(graphics:playercontrols_button_last_pressed.svg) 0 13 0 1 stretch stretch;
}

#playercontrols_stop_button {
    icon: url(graphics:stop_icon.svg);
}

#playercontrols_stop_button:hover {
    icon: url(graphics:stop_icon_hover.svg);
}   

#playercontrols_stop_button:hover:pressed,
#playercontrols_stop_button:pressed,
#playercontrols_stop_button:hover:checked,
#playercontrols_stop_button:checked {
    icon: url(graphics:stop_icon_pressed.svg);
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button {
    padding: 0 90 0 10;
    icon: url(graphics:play_icon.svg);
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button:hover {
    icon: url(graphics:play_icon_hover.svg);
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button:hover:pressed,
#playercontrols_widget_center_top_line #playercontrols_playpause_button:pressed {
    icon: url(graphics:play_icon_pressed.svg);
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button:hover:checked,
#playercontrols_widget_center_top_line #playercontrols_playpause_button:checked {
    icon: url(graphics:pause_icon.svg);
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button #playercontrols_play_from_next_start_button,
#playercontrols_widget_center_top_line #playercontrols_playpause_button #playercontrols_play_from_last_start_button {
    border-bottom: 1px solid #143e5363;
    padding-top: 3;
    padding-bottom: 2;
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button #playercontrols_play_from_next_start_button {
    icon: url(graphics:play_from_next_start_icon.svg);
    border-bottom-right-radius: 4px;
    padding-right: 10;
    padding-left: 0;
    border-left: none;
}

#playercontrols_widget_center_top_line #playercontrols_playpause_button #playercontrols_play_from_last_start_button {
    icon: url(graphics:play_from_last_start_icon.svg);
    border-bottom-left-radius: 4px;   
    padding-left: 10;
    padding-right: 0;
    border-right: none;
}

#playercontrols_widget_left_top_line #change_playback_speed {
    icon: url(graphics:playback_speed.svg);
    background: transparent;
    border-width: 0 16 0 16;
    border-radius: 0;
    border-image: url(graphics:playbackspeed_border.svg) 0 16 0 16 stretch stretch;
    padding-left: 140;
    padding-right: 0;
}

#playercontrols_widget_left_top_line #change_playback_speed:hover:pressed,
#playercontrols_widget_left_top_line #change_playback_speed:hover {
    border-image: url(graphics:playbackspeed_border_hover.svg) 0 16 0 16 stretch stretch;
}

#playercontrols_widget_left_top_line #change_playback_speed:checked:hover,
#playercontrols_widget_left_top_line #change_playback_speed:checked {
    border-image: url(graphics:playbackspeed_border_checked.svg) 0 16 0 16 stretch stretch;
}

#playercontrols_widget_left_top_line #change_playback_speed #change_playback_speed_label {
    font-weight:bold;
    color: #B8C6E0;
    padding-left: 1;
}

#change_playback_speed QPushButton {
    border-radius: 0;
}

#change_playback_speed #change_playback_speed_decrease {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#change_playback_speed #change_playback_speed_increase {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#playercontrols_widget_top_line #repeat_playback {
    icon: url(graphics:playback_repeat.svg);
    background: transparent;
    border-width: 0 16 0 16;
    border-radius: 0;
    border-image: url(graphics:repeat_playback_border.svg) 0 16 0 16 stretch stretch;
    padding-right: 140;
    padding-left: 0;
}

#playercontrols_widget_top_line #repeat_playback:hover:pressed,
#playercontrols_widget_top_line #repeat_playback:hover {
    border-image: url(graphics:repeat_playback_border_hover.svg) 0 16 0 16 stretch stretch;
}

#playercontrols_widget_top_line #repeat_playback:checked:hover,
#playercontrols_widget_top_line #repeat_playback:checked {
    border-image: url(graphics:repeat_playback_border_checked.svg) 0 16 0 16 stretch stretch;
}

#playercontrols_widget_top_line #repeat_playback #repeat_playback_x_label {
    font-weight:bold;
    color: #B8C6E0;
}

#gap_hbox #gap_subtitle_duration, 
#add_subtitle_button #add_subtitle_duration,
#playercontrols_widget_left_top_line #add_subtitle_button QPushButton {
    border: 1px solid #40304251;
}

#gap_hbox #gap_add_subtitle_button {
    padding: 0 32px 0 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    icon: url(graphics:gap_add_icon.svg);
}

#gap_hbox #gap_remove_subtitle_button {
    padding: 0 10px 0 32px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    icon: url(graphics:gap_remove_icon.svg);
}

#playercontrols_widget_top_line #add_subtitle_button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 135 0 10;
    qproperty-icon: url(graphics:add_subtitle_icon.svg);
}

#playercontrols_widget_top_line #add_subtitle_button QPushButton {
    padding: 6 6 0 6;
    border-top: none;
    border-radius: 0;
}

#playercontrols_widget_top_line #add_subtitle_button QPushButton:checked,
#playercontrols_widget_top_line #add_subtitle_button QPushButton:hover:checked,
#playercontrols_widget_bottom_line QPushButton:checked,
#playercontrols_widget_bottom_line QPushButton:hover:checked {
    background-color: #80304251;
}

#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_starting_from_last {
    border-bottom-left-radius: 2px;
    border-right: none;
    padding-right: 0;
    icon: url(graphics:add_from_last.svg);
}

#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_starting_from_last:checked,
#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_starting_from_last:hover:checked {
    icon: url(graphics:add_from_last_checked.svg);
}

#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_and_play {
    border-right: none;
    padding-right: 0;
    border-left: none;
    padding-left: 0;
    icon: url(graphics:add_and_play.svg);
}

#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_to_next_start {
    border-bottom-right-radius: 2px;
    border-left: none;
    padding-left: 0;
    icon: url(graphics:add_subtitle_to_next_start.svg);
}

#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_to_next_start:checked,
#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_to_next_start:hover:checked {
    icon: url(graphics:add_subtitle_to_next_start_checked.svg);
}

#playercontrols_widget_top_line #add_subtitle_button #add_subtitle_duration {
    margin: 8 0 3 0;
}


#playercontrols_widget_top_line QDoubleSpinBox:disabled,
#playercontrols_widget_top_line QSpinBox:disabled {
    background-color: #803e5363;
    color: #80b8cee0;
}

#playercontrols_widget_top_line QDoubleSpinBox::down-button,
#playercontrols_widget_top_line QSpinBox::down-button {
    padding: 0 5 7 0;
}

#playercontrols_widget_top_line QDoubleSpinBox::up-button,
#playercontrols_widget_top_line QSpinBox::up-button {
    padding: 7 5 0 0;
}

#playercontrols_widget_top_line #repeat_playback QDoubleSpinBox::down-button,
#playercontrols_widget_top_line #repeat_playback QSpinBox::down-button {
    padding: 0 5 3 0;
}

#playercontrols_widget_top_line #repeat_playback QDoubleSpinBox::up-button,
#playercontrols_widget_top_line #repeat_playback QSpinBox::up-button {
    padding: 3 5 0 0;
}

#playercontrols_widget_top_line #remove_selected_subtitle_button {
    padding: 0 10 0 10;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    qproperty-icon: url(graphics:remove_selected_subtitle_icon.svg);
}

#playercontrols_widget_top_line #merge_slice_frame #merge_back_selected_subtitle_button,
#playercontrols_widget_top_line #merge_slice_frame #slice_selected_subtitle_button,
#playercontrols_widget_top_line #merge_slice_frame #merge_next_selected_subtitle_button {
    border-radius: 0;
}

#playercontrols_widget_top_line #merge_slice_frame #merge_back_selected_subtitle_button {
    border-bottom-left-radius: 2px;
    padding-right: 0;
    padding-left: 8;
    icon: url(graphics:merge_back_selected_subtitle_icon.svg);
}

#playercontrols_widget_top_line #merge_slice_frame #slice_selected_subtitle_button {
    padding-right: 0;
    padding-left: 0;
    icon: url(graphics:slice_selected_subtitle_icon.svg);
}

#playercontrols_widget_top_line #merge_slice_frame #slice_selected_subtitle_button:checked {
    background-color: #803e5363;
}


#playercontrols_widget_top_line #merge_slice_frame #merge_next_selected_subtitle_button {
    border-bottom-right-radius: 2px;
    padding-left: 0;
    padding-right: 8;
    icon: url(graphics:merge_next_selected_subtitle_icon.svg);
}


#last_end_to_current_position_button {
    icon: url(graphics:last_end_to_current_position_icon.svg);
}

#last_start_last_end_to_current_position_button {
    icon: url(graphics:last_start_last_end_to_current_position_button.svg);
}

#next_start_next_end_to_current_position_button {
    icon: url(graphics:next_start_next_end_to_current_position_button.svg);
}

#last_start_to_current_position_button {
    icon: url(graphics:last_start_to_current_position_icon.svg);
}

#next_end_to_current_position_button {
    icon: url(graphics:next_end_to_current_position_icon.svg);
}

#next_start_to_current_position_button {
    icon: url(graphics:next_start_to_current_position_icon.svg);
}

#start_end_moving_frame QPushButton,
#send_text_buttons_container QPushButton {
    border-radius: 0;
    padding: 0;
}

#start_end_moving_frame #next_start_to_current_position_button {
    padding-right: 8px;
    border-bottom-right-radius: 2px;
}

#start_end_moving_frame #last_end_to_current_position_button {
    padding-left: 8px;
    border-bottom-left-radius: 2px;
}

#playercontrols_widget_bottom_line QPushButton {
    border-radius: 0;
    padding: 0;
}

#playercontrols_widget_bottom_line QPushButton:checked,
#playercontrols_widget_bottom_line QPushButton:hover:checked {
    background-color: #803e5363;
}

#timelinescrolling_container #timelinescrolling_none_button {
    border-top-left-radius: 2px;
    icon: url(graphics:timelinescrolling_none_icon.svg);
}

#timelinescrolling_container #timelinescrolling_none_button::checked {
    icon: url(graphics:timelinescrolling_none_icon_checked.svg);
}

#timelinescrolling_container #timelinescrolling_follow_button {
    border-top-right-radius: 2px;
    icon: url(graphics:timelinescrolling_follow_icon.svg);
}

#timelinescrolling_container #timelinescrolling_follow_button::checked {
    icon: url(graphics:timelinescrolling_follow_icon_checked.svg);
}

#timelinescrolling_container #timelinescrolling_page_button {
    icon: url(graphics:timelinescrolling_page_icon.svg);
}

#timelinescrolling_container #timelinescrolling_page_button::checked {
    icon: url(graphics:timelinescrolling_page_icon_checked.svg);
}

#snap_controls_container #snap_button {
    border-top-left-radius: 2px;
}

#snap_controls_container #snap_button QLabel,
#grid_controls_container #grid_button,
#step_button_container #step_button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
}

#playercontrols_widget_bottom_line QDoubleSpinBox {
    border-radius: 0;
}

#playercontrols_widget_bottom_line QDoubleSpinBox::down-button {
    padding: 0 5 3 0;
}

#playercontrols_widget_bottom_line QDoubleSpinBox::up-button {
    padding: 3 5 0 0;
}

#playercontrols_widget_bottom_line QDoubleSpinBox::disabled {
    background-color: transparent;
    color: #40b8cee0;
}

#snap_controls_container #snap_limits_button {
    icon: url(graphics:snap_limits_icon.svg);
}

#snap_controls_container #snap_limits_button::disabled,
#snap_controls_container #snap_limits_button::checked:disabled {
    icon: url(graphics:snap_limits_icon_disabled.svg);
}

#snap_controls_container #snap_limits_button::checked {
    icon: url(graphics:snap_limits_icon_checked.svg);
}

#snap_controls_container #snap_grid_button {
    icon: url(graphics:snap_grid_icon.svg);
    padding-left: 4px;
}

#snap_controls_container #snap_grid_button::disabled,
#snap_controls_container #snap_grid_button::checked:disabled {
    icon: url(graphics:snap_grid_icon_disabled.svg);
}

#snap_controls_container #snap_grid_button::checked {
    icon: url(graphics:snap_grid_icon_checked.svg);
}

#snap_controls_container #snap_move_button {
    icon: url(graphics:snap_move_next.svg);
}

#snap_controls_container #snap_move_button::disabled,
#snap_controls_container #snap_move_button::checked:disabled {
    icon: url(graphics:snap_move_next_disabled.svg);
}

#snap_controls_container #snap_move_button::checked {
    icon: url(graphics:snap_move_next_checked.svg);
}

#snap_controls_container #snap_move_nereast_button {
    icon: url(graphics:snap_moving_icon.svg);
    padding-right: 4px;
    border-top-right-radius: 2px;
}

#snap_controls_container #snap_move_nereast_button::disabled,
#snap_controls_container #snap_move_nereast_button::checked:disabled {
    icon: url(graphics:snap_moving_icon_disabled.svg);
}

#snap_controls_container #snap_move_nereast_button::checked {
    icon: url(graphics:snap_moving_icon_checked.svg);
}

#move_start_container #move_start_back_subtitle {
    icon: url(graphics:move_start_back_subtitle.svg);
    padding: 4 0 4 0;
    border-top-left-radius: 2px;
}

#move_start_container #move_start_forward_subtitle {
    icon: url(graphics:move_start_forward_subtitle.svg);
    padding: 4 0 4 0;
    border-top-right-radius: 2px;
}

#move_end_container #move_end_back_subtitle {
    icon: url(graphics:move_end_back_subtitle.svg);
    padding: 4 0 4 0;
    border-top-left-radius: 2px;
}

#move_end_container #move_end_forward_subtitle {
    icon: url(graphics:move_end_forward_subtitle.svg);
    padding: 4 0 4 0;
    border-top-right-radius: 2px;
}

#playercontrols_widget_left_bottom_line #move_backward_subtitle {
    icon: url(graphics:move_backward_subtitle.svg);
    padding: 4 0 4 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#playercontrols_widget_right_bottom_line #move_forward_subtitle {
    icon: url(graphics:move_forward_subtitle.svg);
    padding: 4 0 4 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#playercontrols_widget_left_bottom_line #timeline_cursor_back_frame {
    background-color: transparent;
    icon: url(graphics:timeline_cursor_back_frame.svg);
}

#playercontrols_widget_right_bottom_line #timeline_cursor_next_frame {
    background-color: transparent;
    icon: url(graphics:timeline_cursor_next_frame.svg);
}

#playercontrols_widget_left_bottom_line #timeline_cursor_back_frame::hover {
    icon: url(graphics:timeline_cursor_back_frame_hover.svg);
}

#playercontrols_widget_right_bottom_line #timeline_cursor_next_frame::hover {
    icon: url(graphics:timeline_cursor_next_frame_hover.svg);
}

#grid_controls_container #grid_button {
    border-top-left-radius: 2px;
    padding: 0 4 0 4;
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_frames_button {
    icon: url(graphics:grid_frames_icon.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_frames_button::checked {
    icon: url(graphics:grid_frames_icon_checked.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_frames_button::disabled {
    icon: url(graphics:grid_frames_icon_disabled.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_seconds_button {
    icon: url(graphics:grid_seconds_icon.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_seconds_button::checked {
    icon: url(graphics:grid_seconds_icon_checked.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_seconds_button::disabled {
    icon: url(graphics:grid_seconds_icon_disabled.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_scenes_button {
    icon: url(graphics:grid_scenes_icon.svg);
    border-top-right-radius: 2px;
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_scenes_button::checked {
    icon: url(graphics:grid_scenes_icon_checked.svg);
}

#playercontrols_widget_right_bottom_line #grid_controls_container #grid_scenes_button::disabled {
    icon: url(graphics:grid_scenes_icon_disabled.svg);
}

#playercontrols_widget_right_bottom_line #step_button_container #step_button {
    border-top-left-radius: 2px;
    padding: 0 4;
}

#playercontrols_widget_right_bottom_line #step_button_container QDoubleSpinBox,
#playercontrols_widget_right_bottom_line #step_button_container QSpinBox {
    border-radius: 0;
}

#playercontrols_widget_right_bottom_line #step_button_container QDoubleSpinBox::down-button,
#playercontrols_widget_right_bottom_line #step_button_container QSpinBox::down-button {
    padding: 0 5 6 0;
}

#playercontrols_widget_right_bottom_line #step_button_container QDoubleSpinBox::up-button,
#playercontrols_widget_right_bottom_line #step_button_container QSpinBox::up-button {
    padding: 6 5 0 0;
}

#playercontrols_widget_right_bottom_line #step_button_container QDoubleSpinBox::disabled,
#playercontrols_widget_right_bottom_line #step_button_container QSpinBox::disabled {
    background-color: #803e5363;
    color: #40b8cee0;
}

#playercontrols_widget_right_bottom_line #step_button_container QComboBox {
    border-radius: 0;
    border-top-right-radius: 2px;
}


#playercontrols_widget_right_bottom_line #step_button_container QComboBox::disabled {
    color: #40b8cee0;
}

#playercontrols_widget_right_bottom_line #step_button_container QComboBox::drop-down {
    border: 0;
}

#playercontrols_widget_right_bottom_line #zoomin_button {
    icon: url(graphics:zoom_in_icon.svg);
    border-top-left-radius: 2px;
}

#playercontrols_widget_right_bottom_line #zoomin_button::disabled {
    icon: url(graphics:zoom_in_icon_disabled.svg);
}

#playercontrols_widget_right_bottom_line #zoomout_button {
    icon: url(graphics:zoom_out_icon.svg);
    border-top-right-radius: 2px;
}

#playercontrols_widget_right_bottom_line #zoomout_button::disabled {
    icon: url(graphics:zoom_out_icon_disabled.svg);
}

#left_panel_metadata_panel_scroll,
#left_panel_metadata_panel_info {
    background-color: transparent;
}


#properties_information_word_counter {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 6 6 6 30;
    background-image: url('graphics:word_count_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

#properties_information_wpm {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 6 6 6 24;
    background-image: url('graphics:wpm_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: silver;
}

#properties_information_cps {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 6 6 6 24;
    background-image: url('graphics:cps_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: silver;
}

#properties_information_sub_duration {
    border-radius: 2px;
    padding: 6 6 6 24;
    background-image: url('graphics:cps_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: silver;
}

#properties_information_character_counter {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 6 6 6 30;
    background-image: url('graphics:character_count_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

#properties_information_number_of_lines {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 6 6 6 30;
    background-image: url('graphics:new_line_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

#properties_information_cpl {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-image: url('graphics:character_count_icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

#properties_information_reason {
    /* border-radius: 2px; */
    /* padding: 6; */
    color: #304251;
    font-size: 9px;
    qproperty-wordWrap: true;
}

#left_panel_qualitycheck_panel_widget {
    color: white;
}

#left_panel_speakers_panel_content_item {
    background-color: #e53e5363;
    border-radius: 2px;
}

#left_panel_speakers_panel_content_item::hover {
    background-color: #3e5363;
}

#left_panel_speakers_panel_content_item[selected=true] {
    background-color: #6a7483;
}

#left_panel_speakers_panel_content_item QPushButton {
    background-color: transparent;
}


#left_panel_speakers_panel_content_item QPushButton::hover {
    background-color: #80304251;
}


#left_panel_speakers_panel_content_item QPushButton::pressed {
    background-color: #40304251;
}


#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_rename_button {
    icon: url(graphics:speaker_list_item_rename_icon.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_rename_button:hover {
    icon: url(graphics:speaker_list_item_rename_icon_hover.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_change_color_button {
    icon: url(graphics:speaker_list_item_change_color_icon.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_change_color_button:hover {
    icon: url(graphics:speaker_list_item_change_color_icon_hover.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_remove_button {
    icon: url(graphics:speaker_list_item_remove_icon.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_remove_button:hover {
    icon: url(graphics:speaker_list_item_remove_icon_hover.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_export_button {
    icon: url(graphics:speaker_list_item_export_icon.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_export_button:hover {
    icon: url(graphics:speaker_list_item_export_icon_hover.svg);
}

#left_panel_speakers_panel_content_item #left_panel_speakers_panel_content_item_bottom_line {
    background-color: #bf304251;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#dialog_title {
    background-color: #3e5363;
    border-bottom: 1px solid #e530404c;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#dialog_title QLabel {
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
}

#dialog_title QPushButton {
    border-top-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#dialog_content {
    background-color: #e53e5363;
}

#dialog_bottom {
    background-color: #3e5363;
    border-top: 1px solid #e530404c;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#dialog_bottom QPushButton {
    padding: 10px 12px;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: 0;
}

#dialog_bottom QPushButton::hover {
    background-color: #384b59;
}

#dialog_bottom QPushButton[class="accept_button"] {
    border-bottom-right-radius: 4px;
    background-color: #406a7483;
}

#dialog_bottom QPushButton[class="accept_button"]::hover {
    background-color: #384b59;
}

#dialog_title #dialog_close_button {
    icon: url(graphics:dialog_close_icon.svg);
}

#dialog_title #dialog_close_button::hover {
    icon: url(graphics:dialog_close_icon_hover.svg);
}

#music_voice_separation_box #music_voice_separation_music_icon {
    icon: url(graphics:music_voice_separation_music_icon.svg);
    padding: 0 13px 0 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#music_voice_separation_box #music_voice_separation_voice_icon {
    icon: url(graphics:music_voice_separation_voice_icon.svg);
    padding: 0 8px 0 13px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

#music_voice_separation_box #music_voice_separation_slider {
    background-color: #b8cee0;
}

#music_voice_separation_box #music_voice_separation_slider[class="middle"] {
    background-color: #6a7483;
}

#music_voice_separation_box #music_voice_separation_slider::disabled {
    background-color: #1a1e2a33;
    opacity: .5;
}

#music_voice_separation_box #music_voice_separation_music_icon::disabled {
    icon: url(graphics:music_voice_separation_music_icon_disabled.svg);
}

#music_voice_separation_box #music_voice_separation_voice_icon::disabled {
    icon: url(graphics:music_voice_separation_voice_icon_disabled.svg);
}

#global_panel_transcription_vosk_transcription_download_model_button {
    icon: url(graphics:vosk_transcription_download_model_icon.svg);
}

#global_panel_transcription_vosk_transcription_update_model_button {
    icon: url(graphics:vosk_transcription_update_model_icon.svg);
}

#global_panel_transcription_vosk_transcription_remove_model_button {
    icon: url(graphics:speaker_list_item_remove_icon.svg);
}

#global_panel_transcription_vosk_transcription_remove_model_button:hover {
    icon: url(graphics:speaker_list_item_remove_icon_hover.svg);
}

#global_panel_transcription_vosk_transcription_model_combobox QComboBox::drop-down {
    border-bottom-right-radius: 0;
}

#global_panel_transcription_vosk_transcription_model_combobox QPushButton {
    border-radius: 0;
}

#global_panel_transcription_vosk_transcription_model_combobox #global_panel_transcription_vosk_transcription_download_model_button,
#global_panel_transcription_vosk_transcription_model_combobox #global_panel_transcription_vosk_transcription_remove_model_button {
    border-bottom-right-radius: 2px;
}

#global_panel_transcription_vosk_transcription_model_combobox #global_panel_transcription_vosk_transcription_download_model_button,
#global_panel_transcription_vosk_transcription_model_combobox #global_panel_transcription_vosk_transcription_update_model_button {
    border-top-left-radius: 2px;
}


